profile: AccountName
region: ap-region-0
iam: 'arn:aws:iam::123456789123:role/iam_role'
input:
  bucket: input-bucket-name
  prefix: path-prefix
transcode:
  pipeline: 123456789123-abcdef
  preset: 123456789123-abcdef
output:
  bucket: output-bucket-name
  videoPrefix: video-output-prefix
  thumbPrefix: thumbnail-output-prefix
